* {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}

body {
  background-color: #2b2b2b;
}

#jobsGrid {
  height: 93%;
}

.header {
  height: 7%;
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.button {
  background-color: initial;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  font-weight: bold;
  cursor: pointer;
  height: 35px;
  padding: 0 20px;
  border: 0;
  transition: box-shadow .2s;
  margin-right: 15px;
  min-width: 130px;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0 3px 8px;
}

.button.button-orange {
  background-image: linear-gradient(-180deg, #ff7d31aa, #e62d03ae);
  color: #ffffff;
}

.button.button-orange:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

.button.button-green {
  background-image: linear-gradient(-180deg, #3b7a55, #1a631c);
  color: #ffffff;
}

.button.button-green:hover {
  box-shadow: rgba(73, 136, 5, 0.5) 0 3px 8px;
}

.form-group {
  margin: 20px 0;
}

.form-group label {
  padding-bottom: 16px;
}

.form-group .modal-input {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 10px;
  margin-top: 10px;
}

.form-group .textarea {
  resize: vertical;
  border-radius: 10px;
}

.grade-help {
    cursor: pointer;
    color: #ffffff;
    margin-left: 4px;
    font-weight: bold;
}